//contact-form
.form-box {
    & input {
        color: $body-text-color;
        font-size: 16px;
        font-family: $assistant;
        border: 1px solid rgb(209, 207, 206);
        border-radius: 5px;
        height: 48px;
        width: 100%;
        background-color: transparent;
        padding-left: 30px;
        &::placeholder {
            color: $body-text-color;
        }
        &:focus {
            border-color: $theme-color;
        }
    }
   & textarea {
        color: $body-text-color;
        font-size: 16px;
        font-family: $assistant;
        border: 1px solid $hr-border;
        border-radius: 5px;
        height: 250px;
        width: 100%;
        background-color: transparent;
        padding-left: 30px;
        padding-top: 50px;

        &::placeholder {
            color: $body-text-color;
        }
        &:focus {
            border-color: $theme-color;
        }
    }
    .theme_btn {
        border: 0;
    }
}

.copy-right {
    & h5 {
        color: $white;
        font-weight: 400;
    }
}

.contact-box {
    border: 1px solid $hr-border;
    padding: 20px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    & h3 {
        color: #fff;
        font-size: 24px;
        margin-bottom: 20px;
    }
} 