// Font Family
$assistant: 'Assistant',sans-serif;
$merri: 'Merriweather',serif;

// Colors ---------------
$white: #ffffff;
$black: #000;
$black-grey: #191c26;
$theme-color: #f0545f;
$body-text-color: #979db1;
$body-text-color2: #707070;
$hr-border:rgb(209, 207, 206);





// Heading Color
$heding: #1B212F;



// Responsive Variables
$xxl: 'only screen and (min-width: 1601px) and (max-width: 1900px)';
$xl: 'only screen and (min-width: 1601px) and (max-width: 1800px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';